/* Particles.css */
.particle-container {
    position: fixed;
    /* Use fixed positioning to cover the whole viewport */
    top: 0;
    /* Cover the full area */
    left: 0;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Hide overflow to keep particles within the view */
    background-color: transparent;
    /* Make background transparent */
    z-index: 0;
    /* Behind other content */
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: black;
    /* Particle color */
    opacity: 0.2;
    animation: float 3s infinite ease-in-out;
}

/* Animation for floating effect */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Move particles up */
    }

    100% {
        transform: translateY(0);
    }
}
